<!DOCTYPE html>
<html>
  <head>
    <title>GitApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <li class="preview-image" id="upload-image${labelLength}" data-image-id="${labelLength}">
      <figure class="preview-image__figure">
        <img src='${e.target.result}' title='${file.name}' >
      </figure>
      <div class="preview-image__button">
        <a class="preview-image__button__delete" data-image-id="${labelLength}">削除</a>
      </div>
    </li>
  </body>
</html>
